<!DOCTYPE html>

<html>
    <title>Availabe Postings</title>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/post.css"> 
    </head>
<body>
<div class="post-box">
    <h1>Company_Name invites number_of_postings new job_role job/intern</h1>

    <% postings.forEach(posting => { %>
        <div class="details">
            Company: <%=posting.companyname %> <br><br>
            Role: <%=posting.role %><br><br>
            Position: <%=posting.jobtype %><br><br>
            Package/Stipend: <%=posting.package %> Rs. <br><br>
            Skills Required: P<%=posting.skills %> <br><br>
            Cut-off GPA: <%=posting.gpa %> <br><br>
            Maximum Back Logs Allowed: <%=posting.backs %> <br><br>
        </div>
        <br><br>
        <center>
        <a style="color: white;" target='_blank' href='<%=posting.link %>'>Apply here</a>
        </center>
    <% }) %>

    
</div>

</body>

</html>
